<h1>Editing Workout</h1>

<form id="logEdit">
  <fieldset>
    <legend>Edit Workout</legend>

    <div>
      <label for="name">Workout Name:</label>
      <input type="text" name="name" id="name" value="{{this.name}}" required>
    </div>
    <div>
      <label for="reps">Reps:</label>
      <input type="number" name="reps" id="reps" value="{{this.reps}}" required>
    </div>
    <div>
      <label for="weight">Weight:</label>
      <input type="number" name="weight" id="weight" value="{{this.weight}}" required>
    </div>
    <div>
      <label for="date">Date:</label>
      <input type="date" name="date" id="date" value="{{this.date}}">
    </div>
    <div>
      <label for="units">Units</label>
      <div>
        <input type="radio" id="kilos" name="units" value="0" {{isSelected 0 this.lbs}} />
        <label for="kilos">Kilograms</label>
      </div>
      <div>
        <input type="radio" id="lbs" name="units" value="1" {{isSelected 1 this.lbs}} />
        <label for="lbs">Pounds</label>
      </div>
    </div>
  </fieldset>
  <input type="submit" value="Edit">
</form>