<table class="table">
  <caption class="is-size-4 has-text-weight-semibold">Logged Workouts</caption>
  <thead>
    <tr>
      <th>Name</th>
      <th>Reps</th>
      <th>Weight</th>
      <th>Date</th>
      <th>Unit</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody id="tableBody">
    {{#each this}}
      <tr data-id={{this.id}}>
        <td>{{this.name}}</td>
        <td>{{this.reps}}</td>
        <td>{{this.weight}}</td>
        <td>{{this.date}}</td>
        <td>{{this.unit}}</td>
        <td>
          <button class="button is-danger is-small delete-workout">Delete</button>
          <a href="/edit/{{this.id}}">
            <button class="button is-warning is-small">Edit</button>
          </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>